---
import { url, siteMeta } from "@sitedata";
---

<head>
  <meta charset="utf-8" />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content={siteMeta.globalDesc} />
  <meta property="og:description" content={siteMeta.globalDesc} />
  <meta property="og:site_name" content={siteMeta.globaltitle} />
  <meta property="og:url" content={url.root} />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="ja_JP" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="icon" type="image/png" href="/favicon/favicon.png" />
  <title>{siteMeta.globaltitle}</title>
</head>
