---
import Layout from "../layouts/Layout.astro";
import { styles, TitleColorRecipe } from "@styles/pages/index.css";
import { Image } from "@astrojs/image/components";
import { MenuAccodion, Slides } from "@components";
import classNames from "classnames";
import { sprinkles } from "@styles/sprinkles.css";
import { phoneNumber, url } from "@sitedata";
import { OpenInNewWindowIcon } from "@radix-ui/react-icons";
---

<Layout title="Welcome to Astro.">
  <main class={styles.Main}>
    <section class={classNames(styles.MainSection, styles.Concept)}>
      <h2 class={styles.ConceptTitle}>
        <span>串とんと日本酒の店、</span>三代目ひょうたん
      </h2>
      <div class={classNames(styles.MainSectionContent, styles.ConceptContent)}>
        <Image
          src="/images/location.jpg"
          alt="ひょうたん外観"
          format="webp"
          quality={70}
          width={992}
          height={484}
          class={styles.ImageLocation}
        />
        <p>
          男が地蔵峠を通ると、お地蔵様の頭の上に雪が積もっていたので雪を払ってあげた。大晦日の夕方、町についた男はそこでかせ玉を売るが、一向に売れない。と、そこに笠売りのおじいさんがやってきた。笠売りのおじいさんもまったく笠が売れないので、二人はそれぞれの売り物を交換することにして家路についた。
        </p>
        <div class={styles.SlidesWrapper}>
          <Slides client:load />
        </div>
        <p>
          男が地蔵峠を通ると、お地蔵様の頭の上に雪が積もっていたので雪を払ってあげた。大晦日の夕方、町についた男はそこでかせ玉を売るが、一向に売れない。と、そこに笠売りのおじいさんがやってきた。笠売りのおじいさんもまったく笠が売れないので、二人はそれぞれの売り物を交換することにして家路についた。
        </p>
      </div>
    </section>
    <section class={styles.MainSection} id={url.menu}>
      <h2 class={styles.ConceptTitle}>お品書き<span>※全品税込み価格</span></h2>
      <div class={styles.MainSectionContent}>
        <MenuAccodion client:idle />
      </div>
    </section>
    <section
      class={classNames(styles.MainSection, styles.ShopInfo)}
      id={url.shop}
    >
      <h2 class={styles.ConceptTitle}>店舗概要</h2>
      <div class={styles.MainSectionContent}>
        <ul>
          <li><p>席数：カウンター◯席、テーブル3組（4~5席）</p></li>
          <li><p>営業時間：18時～22時</p></li>
          <li><p>営業日：毎週日曜日＋不定休</p></li>
          <li><p>喫煙可否：全席喫煙OK</p></li>
          <li><p>ご予算：お一人様〇〇〇〇円前後</p></li>
        </ul>
      </div>
    </section>
    <section
      class={classNames(styles.MainSection, styles.ShopInfo)}
      id={url.contact}
    >
      <h2
        class={classNames(
          styles.ConceptTitle,
          TitleColorRecipe({
            color: "y",
          })
        )}
      >
        ご予約
      </h2>
      <div class={styles.MainSectionContent}>
        <div class={styles.Contact}>
          <p>ご予約はお電話にてお願い申し上げます。</p>
          <a class={styles.PhoneNumber} href={`tel:${phoneNumber}`}
            >{`${phoneNumber}`}<OpenInNewWindowIcon /></a
          >
          <p>お電話受付時間：18時～22時</p>
        </div>
      </div>
    </section>
    <section class={classNames(styles.MainSection, styles.ShopInfo)}>
      <h2 class={styles.ConceptTitle}>Instagram</h2>
      <div class={styles.MainSectionContent}>
        <div
          class={sprinkles({
            display: "grid",
            placeItems: "center",
          })}
        >
          <p>準備中</p>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-wrapper {
    transition-timing-function: linear !important;
  }
</style>
