---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/reset.css";
import "../styles/fontface.css";
import { styles } from "@styles/layout/Layout.css";
import { ShopLogo, GlobalMenu } from "@components";
import classnames from "classnames";
import { Image } from "@astrojs/image/components";
import { InstagramLogoIcon, TwitterLogoIcon } from "@radix-ui/react-icons";
import { thrdPartyUrl } from "@sitedata";
---

<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class={styles.Container}>
      <header class={styles.Header}>
        <ShopLogo />
        <GlobalMenu />
      </header>
      <slot />
      <footer class={styles.Footer}>
        <section class={classnames(styles.FooterSection, styles.Access)}>
          <h2>アクセス</h2>
          <p class={styles.AccessShopName}>
            串とん亭<br />日本酒酒場三代目ひょうたん
          </p>
          <div>
            <p>鳥取県米子市富士見町2丁目150</p>
            <p>営業時間・・・17:30~22:00</p>
          </div>
          <a href="/" class={styles.LinkText}>Google Mapsで場所を確認</a>
          <ul>
            <li>米子駅より徒歩15分</li>
            <li>ホテルアジェンダより徒歩5分</li>
            <li>ホテルアクシスより徒歩5分</li>
          </ul>
        </section>
        <section class={classnames(styles.FooterSection, styles.Baners)}>
          <div>
            <p>LINE登録で<br />お得なクーポンをゲット！</p>
            <Image
              src="/images/qrcode.png"
              alt="ひょうたんLINE友達登録用のQRコード"
              width={120}
              height={120}
            />
            <p>ご来店の際は上記QRコードから友達登録をお忘れなく！</p>
          </div>
          <div>
            <div>
              <p>カレー販売やってます。</p>
            </div>
            <div class={styles.FooterSnsLogos}>
              <a href={thrdPartyUrl.twitter}>
                <TwitterLogoIcon />
              </a>
              <a href={thrdPartyUrl.instagram}>
                <InstagramLogoIcon />
              </a>
            </div>
          </div>
        </section>
      </footer>
    </div>
  </body>
</html>
