---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/reset.css";
import "../styles/fontface.css";
import { styles } from "@styles/layout/Layout.css";
import { ShopLogo, GlobalMenu } from "@components";
import classnames from "classnames";
import { Image } from "@astrojs/image/components";
import { InstagramLogoIcon, TwitterLogoIcon } from "@radix-ui/react-icons";
import { thrdPartyUrl, url } from "@sitedata";
import { sprinkles } from "@styles/sprinkles.css";
---

<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class={styles.Container}>
      <header class={styles.Header}>
        <ShopLogo />
        <GlobalMenu />
      </header>
      <slot />
      <footer class={styles.Footer}>
        <section
          class={classnames(styles.FooterSection, styles.Access)}
          id={url.access}
        >
          <h2 class={styles.ConceptTitle}>アクセス</h2>
          <div
            class={sprinkles({
              paddingX: "xs",
              display: "grid",
              rowGap: "xs",
            })}
          >
            <p class={styles.AccessShopName}>
              串とん亭<br />日本酒酒場三代目ひょうたん
            </p>
            <div
              class={sprinkles({
                fontSize: "sm",
              })}
            >
              <p>鳥取県米子市富士見町2丁目150</p>
              <p>営業時間・・・17:30~22:00</p>
            </div>
            <a
              href={thrdPartyUrl.googleMap}
              target="_black"
              rel="noopener norefferer"
              class={styles.LinkText}>Google Mapsで場所を確認</a
            >
            <ul
              class={sprinkles({
                fontSize: "sm",
              })}
            >
              <li>米子駅より徒歩15分</li>
              <li>ホテルアジェンダより徒歩5分</li>
              <li>ホテルアクシスより徒歩5分</li>
            </ul>
          </div>
        </section>
        <section class={classnames(styles.FooterSection)}>
          <div class={styles.Baners}>
            <div class={styles.LineCta}>
              <div
                class={sprinkles({
                  display: "flex",
                  flexDirection: "column",
                  gap: "xs",
                })}
              >
                <div
                  class={sprinkles({
                    fontSize: "xxxl",
                    fontWeight: "bold",
                    lineHeight: "tight",
                  })}
                  style={{ color: "#2ec62e" }}
                >
                  <span
                    class={sprinkles({
                      display: "flex",
                      alignItems: "center",
                      gap: "sm",
                    })}
                  >
                    LINE<Image
                      src="/logo/LINE_Brand_icon1.png"
                      alt="ひょうたんLINE友達登録用のQRコード"
                      width={32}
                      height={32}
                    />
                  </span>
                  <span>友達募集中!</span>
                </div>

                <p
                  class={sprinkles({
                    lineHeight: "snug",
                    fontSize: "initial",
                  })}
                >
                  LINEでひょうたんの最新情報を発信中！
                </p>
              </div>
              <Image
                src="/qrcode.svg"
                alt="三代目ひょうたんLINE友達登録用のQRコード"
                width={145}
                height={145}
                class={sprinkles({
                  width: "initial",
                })}
              />
              <p
                class={sprinkles({
                  fontSize: "sm",
                })}
              >
                ご来店の際はQRコードから友達登録をお忘れなく！
              </p>
            </div>
            <div
              class={sprinkles({
                display: "grid",
                rowGap: "xl",
                placeContent: "center",
              })}
            >
              <a
                href={thrdPartyUrl.base}
                target="_blank"
                rel="noopener norefferer"
              >
                <Image
                  src="/curry_cta.png"
                  alt="三代目ひょうたんオリジナルカレーの通販サイトへジャンプするリンク画像"
                  width={117}
                  height={312}
                />
              </a>
              <div class={styles.FooterSnsLogos}>
                <a
                  href={thrdPartyUrl.twitter}
                  target="_blank"
                  rel="noopener norefferer"
                >
                  <TwitterLogoIcon />
                </a>
                <a
                  href={thrdPartyUrl.instagram}
                  target="_blank"
                  rel="noopener norefferer"
                >
                  <InstagramLogoIcon />
                </a>
              </div>
            </div>
          </div>
          <p
            class={sprinkles({
              textAlign: "center",
              marginX: "auto",
              fontSize: "smallest",
              paddingTop: "sm",
            })}
          >
            sandaime_hyoutan ©2023
          </p>
        </section>
      </footer>
    </div>
  </body>
</html>
