---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/reset.css";
import "../styles/fontface.css";
import { styles } from "@styles/layout/Layout.css";
import { ShopLogo, GlobalMenu } from "@components";
---

<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class={styles.Container}>
      <header class={styles.Header}>
        <ShopLogo />
        <GlobalMenu />
      </header>
      <slot />
      <footer class={styles.Footer}>
        <section class={styles.FooterSection}>
          <h2>アクセス</h2>
          <div>
            <p>串とん亭<br />日本酒酒場三代目ひょうたん</p>
            <p>鳥取県米子市富士見町2丁目150</p>
            <p>営業時間・・・17:30~22:00</p>
          </div>
          <a href="/">Google Mapsで場所を確認</a>
          <ul>
            <li>米子駅より徒歩15分</li>
            <li>ホテルアジェンダより徒歩5分</li>
            <li>ホテルアクシスより徒歩5分</li>
          </ul>
        </section>
      </footer>
    </div>
  </body>
</html>
